body {
    font: 16px 'Comic Sans MS', sans-serif;
    background-color: rgb(235, 231, 215);
    border-style: ridge;
    border-width: 10px;
}

.text,
div {
    text-align: center;
}

.rounding-img {
    margin-top: 25px;
    border-radius: 25%;
}

nav {
    text-align: center;
    font-style: bold;
    font-size: 1.25rem;
}

a {
    color: black;
}

p {
    margin: 15px;
}

h3 {
    text-decoration: underline;
}